.text-light-gray {
    color: var(--light-gray) !important;
}

.text-light-gray-hover {
    transition: 0.3s all ease-in-out;
    color: var(--light-gray) !important;

    &:hover {
        transition: 0.3s all ease-in-out;
        color: var(--theme) !important;
    }

}

.text-theme {
    color: var(--theme) !important;
}

.line-height-2 {
    line-height: 2;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-content {
    cursor: context-menu;
}

.cursor-loading {
    cursor: wait;
}

.truncate-to-1-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-to-2-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-to-3-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
