.text-light-gray {
    color: var(--light-gray) !important;
}

.text-theme {
    color: var(--theme) !important;
}

.line-height-2 {
    line-height: 2;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-content {
    cursor: context-menu;
}
