.dropdown {
    .dropdown-menu {
        .dropdown-item {
            font-size: 14px !important;
            color: var(--light-gray) !important;
            background-color: transparent !important;
            padding: 10px 20px;
            transition: 0.3s all ease-in-out;
            font-weight: 600;

            &:hover, &.router-link-active {
                transition: 0.3s all ease-in-out;
                background: var(--lightest-gray) !important;
                color: var(--light-gray) !important;
            }
        }
    }
}
