.bg-light-gray {
    background: var(--light-gray) !important;
}

.bg-theme {
    background: var(--theme) !important;
}

.bg-light-gray-hover {
    transition: 0.3s all ease-in-out;
    color: var(--light-gray) !important;
    background: var(--bs-white) !important;
    &:hover {
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out;
        background: var(--light-gray) !important;
    }
}

.bg-theme-hover {
    transition: 0.3s all ease-in-out;
    color: var(--theme) !important;
    background: var(--bs-white) !important;
    &:hover {
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out;
        background: var(--theme) !important;
    }
}
