.btn-light-gray {
    background-color: var(--light-gray) !important;
    color: var(--bs-white) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--bs-gray-700) !important;
    }

}

.btn-outline-light-gray {
    background-color: var(--bs-white) !important;
    border: 1px solid var(--light-gray) !important;
    color: var(--light-gray) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--light-gray) !important;
        color: var(--bs-white) !important;
    }

}

.btn-theme {
    background-color: var(--theme) !important;
    color: var(--bs-white) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--dark-theme) !important;
    }

}

.btn-outline-theme {
    background-color: var(--bs-white) !important;
    border: 1px solid var(--theme) !important;
    color: var(--theme) !important;
    transition: 0.3s all ease-in-out;

    &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--theme) !important;
        color: var(--bs-white) !important;
    }

}

.btn-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    transition: 0.3s all ease-in-out;
    border: none;
    outline: none;
    border-radius: 5px;

    &:hover {
        background: var(--lightest-gray) !important;
        transition: 0.3s all ease-in-out;
    }

}
