.table {
    width: 100%;
    border-spacing: 0;

    thead {
        tr {
            th {
                padding: 10px 0;
                text-align: start;
                border: none;
                outline: none;

                &.checkbox {
                    width: 60px;
                    min-width: 60px;
                }

                &.default-width {
                    width: 220px;
                    min-width: 220px;
                }

                &.action {
                    width: 60px;
                    min-width: 60px
                }

                &:first-child {
                    padding-left: 18px;
                }

                &:last-child {
                    padding-right: 18px;
                }

            }
        }
    }

    tbody {
        tr {
            &:hover {
                transition: 0.3s all ease-in-out;

                td {
                    background-color: var(--bs-light);
                    transition: 0.3s all ease-in-out;

                    &:first-child {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }

            td {
                padding: 10px 0;
                vertical-align: middle;
                outline: none;
                border-bottom: none;
                transition: 0.3s all ease-in-out;
                color: var(--bs-secondary);

                .face, .item {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: var(--lightest-gray);
                    font-size: 12px !important;
                    color: var(--bs-white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &.checkbox {
                    width: 60px;
                    min-width: 60px;
                }

                &.action {
                    width: 60px;
                    min-width: 60px
                }

                &.face {
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                &:first-child {
                    padding-left: 18px;
                }

                &:last-child {
                    padding-right: 18px;
                }

            }
        }
    }

    tfoot {
        th {
            padding: 10px 0;
            vertical-align: middle;
            outline: none;
            border-bottom: none;
            transition: 0.3s all ease-in-out;
            color: var(--bs-secondary);

            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }

        }
    }

}
